<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<title>IM</title>
<!-- Latest compiled and minified CSS -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous" />

</head>
<body style="padding: 24px">
	<a href="http://localhost:8082/sport" target="sport">Sport</a>
	<div style="padding-top: 12px">
	<h2>Log entries</h2>
	<table class="table table-striped">
		<tr>
			<th>Timestamp</th>
			<th>Message Id</th>
			<th>Causation Id</th>			
			<th>Correlation Id</th>			
			<th>Message</th>
		</tr>
		<tr th:each="notification : ${notifications}">
			<td th:text="${#dates.format(new java.util.Date(notification.id), 'dd-MM-yy HH:mm:ss.SSS')}"></td>
			<td th:text="${notification.message.messageId}"></td>
			<td th:text="${notification.message.causationId}"></td>
			<td th:text="${notification.message.correlationId}"></td>
			<td th:text="${notification.description}">message</td>
		</tr>
	</table>

	<h2>Movements</h2>
	<table class="table table-striped">
		<tr>			
			<th>Reference Key</th>
			<th>Movement Reference Key</th>
			<th>Storage</th>
		</tr>
		<tr th:each="movement : ${movements}">
			<td th:text="${movement.referenceKey}"></td>
			<td th:text="${movement.movementReferenceKey}"></td>
			<td th:text="${movement.storage}">storage</td>
		</tr>
	</table>
	</div>
</body>
</html>