<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<title>Echo App</title>
<link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
<link rel="stylesheet" href="https://code.getmdl.io/1.3.0/material.indigo-pink.min.css">
<script defer src="https://code.getmdl.io/1.3.0/material.min.js"></script>
</head>
<body style="padding: 24px">
  <table class="mdl-data-table mdl-js-data-table">
    <thead>
    	<tr>
    		<th class="mdl-data-table__cell--non-numeric">Text</th>
    		<th class="mdl-data-table__cell--non-numeric">Timestamp</th>
    		<th class="mdl-data-table__cell--non-numeric">Id</th>
    	</tr>
    </thead>
  	<tr th:each="msg: ${list}">
  		<td class="mdl-data-table__cell--non-numeric" th:text="${msg.text}"/>
  		<td class="mdl-data-table__cell--non-numeric" th:text="${msg.timestamp}"/>
  		<td class="mdl-data-table__cell--non-numeric" th:text="${msg.id}"/>
  	</tr>
  </table>
</body>
</html>